.common{
   text-align: justify;
}

.left{
  text-align: left;
}

.code{
  background-color: #E9EBEE;
  line-height: 2em;
  font-family: sans-serif;
  font-size: 16px;
  text-align: left;
  }

.middle{
  text-align: center;
  font-size:18px;
  font-style:bold;
}

ion-card-content{
  text-align: left !important;
}

.center{
  text-align:center;
}

.red-color{
  color:red;
}

.blue-color{
  color:blue;
}

.skyblue-color{
  color:#4E8EF7;
}

.green-color{
  color:green;
}
